.ger {
    @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
    margin-top: 1%;
    color:rgb(255, 255, 255);
    font-family: 'Red Hat Mono', monospace;
    font-size: 21px;

}

.gee {
    @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
  
    color:rgb(255, 255, 255); 
    font-family: 'Red Hat Mono', monospace;
    font-size: 17px;
    word-wrap: break-word;
    width: 700px;
}


 .rrr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
 
